#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: helvetica;
}
#buttoncontainer{
    text-align: center;

}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: #1384cf;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.buttons:hover{
    background-color: #093a55;
}